<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <script src="https://kit.fontawesome.com/f6953e6846.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body class="contact">
    <header class="header">
        <nav class="header__nav">
            <ul class="header__nav--menu">
                <li><a href="/">| Home</a></li>
                <li><a href="/about">| About</a></li>
                <li><a href="/music">| Music</a></li>
                <li><a href="/contact">| Contact |</a></li>
            </ul>
            <div class="header__nav--redes">
                <a href="https://x.com/i/flow/login"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://es-la.facebook.com/login"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://accounts.spotify.com/es/login"><i class="fa-brands fa-spotify"></i></a>
                <a href="https://www.apple.com/la/"><i class="fa-brands fa-apple"></i></a>
                <a href="https://www.amazon.com/-/es/ref=nav_logo"><i class="fa-brands fa-amazon"></i></a>
                <a href="https://www.instagram.com/accounts/login"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </nav>
    </header>
    <main class="contact__main">
        <h1 class="contact__main--titulo">contact //</h1>
        <section class="contact__main__section">
            <h3>we are here</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13119.600111953441!2d-58.3257613!3d-34.7077014!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a33289e1318f01%3A0x68bc52c33d61faf1!2sPlaza%20Papa%20Francisco!5e0!3m2!1ses-419!2sar!4v1723613994844!5m2!1ses-419!2sar" width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>

        <section class="contact__main__section">
            <h3>contact info</h3>
            <article class="contact__main__section__article">
                <h4>managment | Karen Blanche</h4>
                <p><b>email:</b> info@mysite.com</p>
                <p><b>phone:</b> 1234-56789</p>
            </article>
            <article class="contact__main__section__article">
                <h4>booking | Daniel Ku</h4>
                <p><b>email:</b> info@mysite.com</p>
                <p><b>phone:</b> 1234-56789</p>
            </article>
            <article class="contact__main__section__article">
                <h4>label | Wix Records</h4>
                <p><b>email:</b> info@mysite.com</p>
                <p><b>phone:</b> 1234-56789</p>
            </article>
            <article class="contact__main__section__article">
                <h4>pr | Thath Girl</h4>
                <p><b>email:</b> info@mysite.com</p>
                <p><b>phone:</b> 1234-56789</p>
            </article>
        </section>
    </main>
</body>
</html>