<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/f6953e6846.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body class="index">
    <header class="index__header">
        <nav class="index__header__nav">
            <ul class="index__header__nav--menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="index__header__nav--redes">
                <a href="https://x.com/i/flow/login"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://es-la.facebook.com/login"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://accounts.spotify.com/es/login"><i class="fa-brands fa-spotify"></i></a>
                <a href="https://www.apple.com/la/"><i class="fa-brands fa-apple"></i></a>
                <a href="https://www.amazon.com/-/es/ref=nav_logo"><i class="fa-brands fa-amazon"></i></a>
                <a href="https://www.instagram.com/accounts/login"><i class="fa-brands fa-instagram"></i></a>
            </div>

        </nav>    
    </header>
    <main class="index__main"> 
    <h2 class="index__main--subtitulo">EMILIA<br>COLE //</h2>
    <h1 class="index__main--titulo">TWIST IN MY REALITY</h1>
    </main>

</body>
</html>