<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole | Music </title>
    <script src="https://kit.fontawesome.com/f6953e6846.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <a href="https://x.com/i/flow/login"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://es-la.facebook.com/login"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://accounts.spotify.com/es/login"><i class="fa-brands fa-spotify"></i></a>
            <a href="https://www.apple.com/la/"><i class="fa-brands fa-apple"></i></a>
            <a href="https://www.amazon.com/-/es/ref=nav_logo"><i class="fa-brands fa-amazon"></i></a>
            <a href="https://www.instagram.com/accounts/login"><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h5>Direct links</h5>
        <nav>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>
        </nav>

        <section><!-- caja para los albumes -->
            <article id="album">
                <h3>album <br> twist my reality</h3>
                <img src="/images/emilia-play-list.png" alt="" width="713">
                <li><i class="fa fa-play"></i>Organic Love</li>
                <li><i class="fa fa-play"></i>Twist In My Reality</li>
                <li><i class="fa fa-play"></i>Street Light</li>
                <li><i class="fa fa-play"></i>Love Don't Live Here Anymore(Cover)</li>
            </ol>
            <a href="#">Go top</a>
            <ol>
            </article>
        </section>

        <section><!-- caja para los videos -->
            <article id="organic">
                <h3>video <br>organic love</h3>
                <iframe width="713" height="401" src="https://www.youtube.com/embed/IGjE_zgs2Hw" title="Argentina and Lionel Messi are crowned World Cup champions" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div>
                    <p>Directed by VINCE MALC & EMILIA COLE</p>
                    <p>Edited and Filmed by NICOLAS TROY</p>
                    <p>Produced by NIKI HEART,</p>
                    <p>Wix Films LTD.</p>
                </div>
                <a href="#">Go top</a>
            </article>

            <article id="street">
                <h3>video <br>street light</h3>
                <iframe width="713" height="401" src="https://www.youtube.com/embed/0JXErRqlhNg" title="Atajada Dibu Martinez Minuto 123 vs Francia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div>
                    <p>Directed by VINCE MALC & EMILIA COLE</p>
                    <p>Edited and Filmed by NICOLAS TROY</p>
                    <p>Produced by NIKI HEART,</p>
                    <p>Wix Films LTD.</p>
                </div>
                <a href="#">Go top</a>
            </article>
        </section>
    </main>


</body>
</html>